<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Memory Game!!! </title>
        <link rel="stylesheet" href="/static/Style.css"/>
        <script src="/static/jquery-2.2.3.js"></script>
    </head>
    <body>
        <nav>
            <ul id="navBar">
                <li id="userName" class="pointerChange">{{ session['username'] }}</li>
                <li id="highScore"> High Score: 0 </li>
                <li id="logOut" class="pointerChange">
                    <form method=POST action="{{ url_for('logout') }}">
                        <button type="submit" id="logOut">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>

        <div id="gameName">
            <h1> Memory Game. Test How much you are able to remember. For NO use at all. </h1>
        </div>

        <div id="gameOptions">
            <ul id="optionList">
                <li class="pointerChange changeColor" onclick="removeOptions()"> PLAY GAME </li>
                <li class="pointerChange changeColor"> QUIT </li>
                <li class="pointerChange changeColor"> RESET YOUR PROGRESS </li>
            </ul>
        </div>

        <div id="mainGame">
            <div class="buttonHolder">
                <button onclick="selectColors()" class="gameButton"> Play </button>
            </div>
            <div id="gameHolder">
                <table>
                    <tr>
                        <td id="box_1" class="colorBox" onclick="getUserInput(event)" onmousedown="reduceOpacity(event)" onmouseup="increaseOpacity(event)"></td>
                        <td id="box_2" class="colorBox" onclick="getUserInput(event)" onmousedown="reduceOpacity(event)" onmouseup="increaseOpacity(event)"></td>
                        <td id="box_3" class="colorBox" onclick="getUserInput(event)" onmousedown="reduceOpacity(event)" onmouseup="increaseOpacity(event)"></td>
                    </tr>
                    <tr>
                        <td id="box_4" class="colorBox" onclick="getUserInput(event)" onmousedown="reduceOpacity(event)" onmouseup="increaseOpacity(event)"></td>
                        <td id="box_5" class="colorBox" onclick="getUserInput(event)" onmousedown="reduceOpacity(event)" onmouseup="increaseOpacity(event)"></td>
                        <td id="box_6" class="colorBox" onclick="getUserInput(event)" onmousedown="reduceOpacity(event)" onmouseup="increaseOpacity(event)"></td>
                    </tr>
                    <tr>
                        <td id="box_7" class="colorBox" onclick="getUserInput(event)" onmousedown="reduceOpacity(event)" onmouseup="increaseOpacity(event)"></td>
                        <td id="box_8" class="colorBox" onclick="getUserInput(event)" onmousedown="reduceOpacity(event)" onmouseup="increaseOpacity(event)"></td>
                        <td id="box_9" class="colorBox" onclick="getUserInput(event)" onmousedown="reduceOpacity(event)" onmouseup="increaseOpacity(event)"></td>
                    </tr>
                </table>
            </div>
            <div class="buttonHolder">
                <button onclick="selectColors()" class="gameButton"> Reset </button>
            </div>
        </div>
    </body>
    <script src="/static/Script.js"></script>
</html>
